<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doodeec.filemanager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.doodeec.filemanager.BaseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.doodeec.filemanager.SettingsActivity"
            android:label="@string/settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:parentActivityName="com.doodeec.filemanager.BaseActivity"
            android:theme="@android:style/Theme.Holo.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doodeec.filemanager.BaseActivity" />
        </activity>
    </application>

</manifest>
